@model HRProjectApplication.Models.DTOs.UpdateCompanyDTO

@{
    ViewData["Title"] = "Edit Company";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h3>Edit Company</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaxOffice" class="control-label"></label>
                    <input asp-for="TaxOffice" class="form-control" />
                    <span asp-validation-for="TaxOffice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaxNumber" class="control-label"></label>
                    <input asp-for="TaxNumber" class="form-control" />
                    <span asp-validation-for="TaxNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactPerson" class="control-label"></label>
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfEmployees" class="control-label"></label>
                    <input asp-for="NumberOfEmployees" class="form-control" />
                    <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WebSite" class="control-label"></label>
                    <input asp-for="WebSite" class="form-control" />
                    <span asp-validation-for="WebSite" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="CreateDate" class="control-label"></label>
                    <input type="date" asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <b>
            <a asp-controller="Home" asp-action="Index">Back to Dashboard</a>
        </b>
    </div>

</body>
</html>
