@model HRProjectApplication.Models.VMs.ResetPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/writer/assets/css/style.css">

    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo absolute-center">
                                <img src="~/writer/assets/images/Adsız.jpg">
                            </div>
                            <h4>Reset Password</h4>

                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Token" type="hidden" />
                                <input asp-for="Email" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>

